<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My note pages</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="bg-purple-400 h-16 mt-8 ml-8 pt-4 w-[70%] pl-[35%]">post list</div>
  <div class="flex ml-8 p-2 w-[70%] bg-green-500 border rounded justify-around items-center">Add  a new posts
    <form method="POST" action="{% url 'create_post_url' %}">
      {% csrf_token %}

      <div class="h-12 ">
        <input type="text" name="title" placeholder="Enter the title of the Blog" class="h-12 mt-8  p-1 w-[100%] bg-blue-200 rounded ">
      </div>
      <div class="h-32 ">
        <input type="text" name="caption" placeholder="Enter ypur post contents" class="h-16 mt-8  p-1 w-[100%] rounded ">
      </div>
      <button type=submit class="h-16 p-1 w-26 bg-blue-500 rounded">submit posts</button>
    </div>
  </form>
  <div class="flex justify-between h-[400px] w-[70%] bg-green-200 ml-8 ">


    {% for post in bloglogs %}
      
    <div class=" flex flex-col w-[100%] h-64 m-4  mt-12 border border-red-400  justify-center justify-between ">
     
      <div class="w-[100%] pl-2 items bg-red-200">
        {{ post.title }}

      </div>

      <div class="w-[100%] pl-2 items bg-blue-200">
        {{ post.caption }}

      </div>
      <div class="w-[100%] pl-2 items bg-red-200">
        {{ post.created_at }}

      </div>
      {% comment %} <div class="w-[100%] pl-2 items bg-red-200">

        Author:{{ post.user.username }}
      </div> {% endcomment %}
      {% comment %} <div class="w-[100%] pl-2 items bg-blue-200">
        {{ post.likes.count}}

      </div> {% endcomment %}
      {% comment %} <div class="w-[100%] pl-2 items  flex justify-around">
       <button class=" bg-blue-500 p-1 border border-black rounded">+likes</button>
       <button class=" bg-red-500 p-1 border border-black rounded">-likes</button>

      </div> {% endcomment %}









    </div>
    {% endfor %}
  </div>




</body>

</html>